.timeline {
  position: relative;
  max-width: 1200px;
  margin: 100px auto;
  align-items: center;
  justify-content: center;
}

.container {
  /* padding: 10px 50px; */
  position: relative;
  width: 50%;
}

.text-box {
  margin-left: 35px;
  margin-right: 35px;
  padding: 1px 20px;
  color: black;
  background-color: rgb(255, 255, 255);
  position: relative;
  border-radius: 6px;
  font-size: 15px;
}

.techUsed {
  display: flex;
  align-items: center;
  width: 100%;
}

.projectLinks {
  margin: auto;
  width: 100%;
  justify-content: space-between;
}

.projectLinks img {
  width: 5%;
  margin: 0px 15px 10px 15px;
  opacity: 70%;
}

.techUsed img {
  width: 6%;
  margin: auto;
  justify-content: space-between;
}

.left-container {
  left: 0;
}

.right-container {
  left: 50%;
}

.middleLogo {
  position: absolute;
  width: 40px;
  border-radius: 50%;
  right: -20px;
  top: 32px;
  z-index: 100;
}

.right-container img {
  left: -20px;
}

/* .timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  background-color: white;
  top: 0;
  left: 50%;
  margin-left: -3px;
  z-index: 1;
} */

.text-box h2 {
  font-weight: 400;
}

.text-box small {
  display: inline-block;
  margin-bottom: auto;
}

.left-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-bottom: 15px solid red;
  right: -15px;
}

.projectLinks img:hover {
  opacity: 100%;
  transform: scale(1.1);
}
