.sticky {
  height: 5vh;
  position: sticky;
  top: 0;
  padding: 10px 0px 20px 0;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  background: #080808;
  align-items: center;
  z-index: 13;
}

.navbar a {
  color: white;
  justify-content: space-between;
  margin: 25px;
  text-decoration: none;
}

.logo {
  width: 30px;
  margin-right: auto;
  margin-left: 20px;
}

.logo:hover {
  cursor: pointer;
}
