html {
  scroll-behavior: smooth;
  background-color: #030f1c;
  color: white;
}

.home,
.intro,
.projects,
.contact {
  min-height: 100vh;
  text-align: center;
}

.rest {
  min-height: 1vh;
  text-align: center;
}

.home {
  background: #030f1c;
}
.intro {
  background: #030f1c;
}
.projects {
  background: #030f1c;
}
.contact {
  /* background: #030f1c; */
  background: red;
}
