.homeContainer {
  width: 100%;
}

.myName {
  padding-top: 10%;
  color: black;
  margin: auto;
  width: 100%;
  font-size: 54px;
  /* border: 1px solid red; */
  font-family: "Montserrat", sans-serif;
}

.homePageText {
  padding-top: 10px;
  /* flex: 1; */
  /* padding: 10px; */
  margin: auto;
  text-align: center;
  width: 40%;
  color: black;
  /* font-size: 12px; */
  /* border: 1px solid green; */
}

.homePageText h5 {
  padding-bottom: 20px;
}

.resumeLink {
  text-decoration: none;
  padding: 12px;
  background-color: #2fb495;
  color: white;
  font-size: 12px;
  border: 0;
  outline: none;
  cursor: pointer;
  border-radius: 30px;
}

.resumeLink:hover {
  background-color: #278e76;
}
