.homeContainer {
  width: 100%;
  /* border: 1px solid aqua; */
  /* flex-wrap: wrap;
  flex-direction: row; */
  display: flex;
  flex-direction: row;
  /* align-items: baseline; */
  justify-content: space-evenly;
  /* width: 100%; */
  /* padding-top: 25px; */
}

.leftLogo {
  width: 25%;
  /* flex: 1; */
  padding-left: 10%;
  padding-top: 5%;
  /* border: 1px solid yellow; */
}

.myName {
  margin: auto;
  width: 100%;
  /* border: 1px solid red; */
}

.homePageText {
  /* flex: 1; */
  /* padding: 10px; */
  margin: auto;
  text-align: left;
  width: 45%;
  color: black;
  /* border: 1px solid green; */
}
