.contactContainer {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-evenly;
  width: 100%;
  padding-top: 25px;
}

form {
  display: flex;
  flex-direction: column;
  padding: 4vw 2vw;
  width: 25%;
  max-width: 600px;
  border-radius: 10px;
}

form h3 {
  color: black;
  font-weight: 400;
  margin-bottom: 20px;
}

form input,
form textarea {
  border: 0;
  margin: 10px 0;
  padding: 10px;
  outline: none;
  background-color: #e8e8e8;
  /* font-size: 16px; */
  border-radius: 3px;
}

#formButton {
  padding: 10px;
  background-color: #2fb495;
  color: white;
  font-size: 16px;
  border: 0;
  outline: none;
  cursor: pointer;
  width: 100px;
  margin: 20px auto 0;
  border-radius: 30px;
}

.contactInfo {
  width: 40%;
  color: black;
}

.contactInfo img {
  width: 55%;
}

.info {
  font-weight: 400;
}

.profilePicture {
  width: 100%;
  margin-bottom: 15px;
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  background-color: #ffffff;
  border-radius: 5px;
  height: 7vh;
}

.links > a > img {
  width: 25px;
  opacity: 65%;
}

.contactInfo > a {
  width: 25px;
  /* height: 25px; */
  display: inline-flex;
  flex-direction: row;
  margin: auto;
  /* margin-right: 20px; */
  /* margin-left: 20px; */
  margin-top: 10px;
}

.links > a > img:hover {
  opacity: 100%;
  scale: 1px;
  transform: scale(1.1);
}

#formButton:hover {
  background-color: #278e76;
}
